<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" />
		<title>Products</title>
	</head>
	<body>
		<form action="/search" method = "GET">
			<input type = "search" name = "search" placholder = "search for items">
			<input type="submit" value="Search">
		</form>
		{{products}}
<!--		<p>Welcome to the products page.</p>
		<li>
			Smartphones
		</li>
		<li>
			Computers
		</li>
		<li>
			Bottles
		</li>
		<li>
			Chargers
		</li>
		<a href="/logout">Click here to log out.</a> 
								-->
	<body>
</html>
