<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" />
		<title>
			Buyable.sell
		</title>
	</head>
<body>
	Welcome to Buyable.sell, the online flea market!
{% if login == 'False' %}
	<form action="/login" method="POST">
  		<input type="username" name="username" placeholder="Username">
  		<input type="password" name="password" placeholder="Password">
 		<input type="submit" value="Log in">
	</form>
	<a href="/signup">Click here to sign up</a>
{% else %}

<p>Here is a list of pages you can go to:</p>
<a href="/products">Products</a>
<a href="/logout">Click here to log out.</a>
{% if vendor == 'True'%}
<a href="/addproduct">Click here to add a product</a>
{% endif %}
{% endif %}
</body>
</html>
